{% extends 'base.html' %}

{% block title %}
About Us | Ride Sharing
{% endblock title %}

{% block content %}

<!-------------------------- Header Photo ----------------------->
    <!--- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>our company</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-------------------------- Header Photo Ends ----------------------->

<!--------------------------- Our Background Section --------------------------------------->

    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-heading">
              <h2 style="font-weight: 600;">Our Background</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="/static/assets/images/feature-image.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Who we are &amp; What we do?</h4>
              <p align="justify">Ride Sharing is the India's leading long distance carpooling platform - Trusted by thousands of passengers and drivers in a great country named India. We are affordable and convenient. The platform connects people looking to travel long distances with drivers heading the same way, so they can travel together and share the cost. With the recent integration of a coach network and a commuter carpooling service, Ride Sharing aims to become the go-to marketplace for shared road mobility. Affordable, convenient and user-friendly,wherever there’s a road, there’s a Ride Sharing.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-------------------------------------------------- Section Over ------------------------------------------->

<!--------------------------------------------------- About ------------------------------------------------->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading " style="text-align: center;">Our Journey</h2>
          <h3 class="section-subheading text-muted">Breath. Feel. Live. Your time is now.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/static/img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4> 2016</h4>
                  <h4 class="subheading">Our Humble Beginnings</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted" align="justify"> Started with a bunch of ideas in a mind by passionate group of friends to do something big !! Why to go alone when there are thousands of people waiting for you !!!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/static/img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4> 2017</h4>
                  <h4 class="subheading">An Agency is Born</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted" align="justify"> Here we launch our website and begin to expand, We started the jouney with 2 travel agencies and number of passengers initially !!! </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/static/img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4> 2018</h4>
                  <h4 class="subheading">Transition to Full Service</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted" align="justify">With 9 Official Partners in a very short period we started offering more services. The Incredible Journey continues in a right direction !!!  </p> 
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="/static/img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4> 2019</h4>
                  <h4 class="subheading">Phase Two Expansion</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted" align="justify">After an incredible journey in Nadiad we started our services in Anand City with 2 partners initially and by welcoming new passionate members in our growing team.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of Our
                  <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
<!------------------------------------------------------ About Over ------------------------------------------>

<!------------------------------------------------ Happy Clients --------------------------------------------->

    <div class="happy-clients">
      <div class="container">
        <div class="row">
          
            <div class="col-lg-12 text-center">
              <h2 class="section-heading " style="text-align: center;">Happy Partners</h2>
              
            </div>
         
          <div class="col-md-12">
            <div class="owl-clients owl-carousel">
              <div class="client-item">
                <img src="/static/assets/images/partner1.png" alt="1">
              </div>
              
              <div class="client-item">
                <img src="/static/assets/images/partner5.jpg" alt="2">
              </div>
              
              <div class="client-item">
                <img src="/static/assets/images/partner3.jpg" alt="3">
              </div>
              
              <div class="client-item">
                <img src="/static/assets/images/partner4.png" alt="4">
              </div>
              
              <div class="client-item">
                <img src="/static/assets/images/partner2.jpg" alt="5">
              </div>
              
              <div class="client-item">
                <img src="/static/assets/images/client-01.png" alt="6">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!---------------------------------------------------- Client Section Over ------------------------------------------->

{% endblock content %}

