{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Subscribe Ride | Ride Sharing
{% endblock title %}

{% block content %}

<!------------------------------------------------------- Banner Starts Here ------------------------------------------->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-0">
          <div class="text-content">
            <h4>Best Offer</h4>
            <h2 >Get 50% Off On First Ride</h2></br>
            <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" style="background-color: #E84342;" href="#services">Tell Me More</a>
          </div>
        </div>
      </div>
    </div>
<!------------------------------------------------------ Banner Ends Here ---------------------------------------------->


{% if user.is_authenticated %}

  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="text-align: center;">Subscribe Ride</h2>
          <h3 class="section-subheading text-muted">Explore the unexplored</h3>
        </div>
      </div>

      {% if message %}

        {% if danger %}
          <div class="alert alert-danger alert-dismissible">
		        <a href="/rides" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p style="text-align: center;">{{message}}</p>
	        </div>
        {% else %}
          <div class="alert alert-primary alert-dismissible">
		        <a href="/rides" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p style="text-align: center;">{{message}}</p>
	        </div>
        {% endif %}

    {% endif %}

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center" style="background-color: #000000b3; padding: 10px; color: white;">
           <form method="POST" class="post-form">{% csrf_token %}
                {{ form| crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>


{% else %}


<!------------------------------------------------ Subscribe Ride ------------------------------------------------------>
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase" style="text-align: center;">Subscribe Ride</h2>
          <h3 class="section-subheading text-muted">Unbox the happiness...</h3>
        </div>
        <p align="justify">Website is under development !!! Website is under development !!! Website is under development !!! Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!! Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!Website is under development !!!</p>
      </div>
    </div>
  </section>
<!------------------------------------------------ Section Over ------------------------------------------------------>



<!------------------------------------------------ Login / SignUp Section ----------------------------------------->
<section class="page-section" id="services">
    <div class="container">
      <div class="row">
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-sign-in fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Already have an account?</h4>
          <p class="text-muted">Login to your account and grab the exclusive offers and deals. Subscribe a best, convenient and efficient ride for your destination !!!</p></br>
          <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" style="background-color: #E84342;" href="/accounts/login/"> Login &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>


              <div  class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Create an account!!</h4>
          <p class="text-muted">Join the best car pooling community and uncovers the exclusive offers and deals, specially made for you, We are here to help you always !!!</p></br>
          <a class="btn btn-primary btn-l text-uppercase js-scroll-trigger" style="background-color: #E84342;" href="/accounts/signup/"> Sign Up &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </section>
<!------------------------------------------------ Section Over -------------------------------------------------------->

{% endif %}
{% endblock content %}
